# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# env
.env
.env.local
.env*.local

# debug
npm-debug.log*
.firebase/

# typescript
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
.vercel
.firecrawl/
.cursor/
